/* whole website background color */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body {
  background-color: #000000;
  color: #ffffff;
  margin:0;
  padding:0;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Pushes logo to left, links to right */
  align-items: center;            /* Vertically centers the logo with the buttons */
  padding: 10px 20px;             /* Optional padding for layout spacing */
}

.logo {
  width: fit-content;
}

/* Navbar links */
.nav-links {
  width: fit-content;
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navbar links box-border */
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: 2px solid white;
  padding: 10px 20px;
  display: inline-block;
}